body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.btn-primary{
    padding: 10px 20px;
    border-radius: 5px ;
    background-color: #E55473;
    color:white;
    border:none;
}
.section_title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section_description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.header_container{
    display: flex;
    background-color: rgb(249, 220, 225);
    justify-content: space-around;
    max-height: 700px;
}
.header_text_container{
    padding: 150px 30px 30px 180px
}
.header_text{
    font-size: 63px;
    font-weight:700;
}
.header_image_container{
}
.header_image{
    width: 500px;
    height: 700px;
}

/* Feature flower section start */
.flower_section{
    display: flex;
    justify-items: center;
    align-items: center;
    gap:20px;
    text-align: center;
    text-decoration: underline;
    margin-left: 60px;
    margin-top: 70px;
}
.single_flower_image1{
    width: 370px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.single_flower_image2{
    width: 370px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.single_flower_image3{
    width: 370px;
    height: 471px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
/* Feature flower section end */

/* Hotdeal section start */
.hotdeal_container{
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    /* height: 400px; */
    margin-top: 100px;
    padding: 100px 100px 0px 100px;
}
.hotdeal_text_container{
    padding: 80px 20px 20px 20px;
    width: 60%; 
    text-align: center;
}
.hotdeal_heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}
.hotdeal_text_span{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
}
.hotdeal_image{
    width:90%;
}
/* Hotdeal section end */

/* Instagram section start */
.instagram_section{
    margin-top:50px;
}
.instagram_image_section{
    display: flex;
    margin-top: 5%;
    gap:10px;
}
.instagram_image{
    width: 316px;
    height: 396px;
    /* margin: 5px; */
}
/* Instagram section end */

/* Video section start */
.flower_video{
    margin-top: 100px;
}
.flower_video_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flower_iframe{
    
}
/* Latest deal start */
.latest_deal{
    padding:100px;
}
.latest_deal_container{
    background-image: url('../Flower_Image/Rectangle\ 9.png');
    height: 300px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 120px;
    
}
.latest_deal_heading{
    font-size: 30px;
}
.deal{
    padding-bottom:20px;
}
.email_section input[type=text]{
    width: 500px;
    height: 30px;
    margin-top: 20px;
}
/* Latest deal end */

/* Footer section start */
.footer_section{
    margin-top: 50px;
    height:300px;
    background-color: #0a090a;
}
.footer_container{
    padding-top: 40px;
    text-align: center;
    color: #FFF;
}
.footer_title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.span_footer{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}
/* Footer section end */